<%- include('partials/header'); -%>

<div class="alert alert-danger" role="alert">
    <h1> Ooops! </h1>
    <p>Error getting the requested resource, please try again</p>
</div>

<%- include('partials/footer'); -%>